@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@font-face {
  font-family: 'RussoOne';
  src: url(../fonts/RussoOne-Regular.ttf); }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  padding: 0px;
  margin: 0px; }
  body input[type~="text"], body input[type~="password"], body input[type~="select"], body textarea[type~="select"] {
    font-family: 'RussoOne'; }
  body article, body label {
    font-family: 'RussoOne'; }
  body h1, body h2, body h3, body h4 {
    margin-top: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    font-family: 'RussoOne'; }
  body h4 {
    margin-bottom: 10px; }
  body p {
    font-family: 'RussoOne'; }
  body span {
    font-family: 'RussoOne'; }
  body button {
    font-family: 'RussoOne'; }

::placeholder {
  color: blackc;
  font-size: 1.2em;
  font-family: 'RussoOne'; }

.pagesBody {
  max-width: 1100px;
  margin: 0 auto; }

.header {
  padding-top: 0;
  position: relative;
  height: 100vh;
  width: 100%; }
  .header h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px; }
  .header_main a img {
    height: 80px; }
  .header_main__nav {
    font-size: 25px;
    float: right; }
    .header_main__nav__formargin {
      margin-top: 40px; }
    .header_main__nav span {
      padding-left: 30px;
      color: black; }
    .header_main__nav a {
      text-decoration: none; }
    .header_main__nav a:hover {
      text-decoration: underline; }
  .header_main__screen {
    position: absolute;
    margin-top: 12%;
    color: white;
    display: flex;
    flex-direction: row; }
    .header_main__screen__left {
      width: 600px; }
      .header_main__screen__left img {
        width: 500px; }
    .header_main__screen__right {
      width: 400px;
      height: 500px;
      margin-left: 100px;
      display: flex;
      color: white;
      flex-direction: column; }
      .header_main__screen__right input:nth-child(1) {
        margin-top: 30px; }
      .header_main__screen__right input {
        width: 90%;
        margin: 10px auto;
        height: 40px;
        border: none;
        border-bottom: 2px solid #7c7c7c;
        background-color: transparent;
        outline: none;
        font-size: 1.5em; }
      .header_main__screen__right textarea {
        width: 90.5%;
        margin: 10px auto;
        resize: vertical;
        font-size: 1.2em; }
      .header_main__screen__right button {
        width: 92%;
        margin: 10px auto;
        height: 40px;
        font-size: 1.2em; }

.about h2 {
  text-align: center;
  font-size: 45px; }

.about_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px auto 50px auto; }
  .about_flex div {
    width: 300px;
    height: 95%;
    background-color: #fffdf8;
    margin: 30px;
    position: relative;
    border-bottom: 5px solid #5555f0; }
    .about_flex div img {
      width: 300px; }
    .about_flex div h3 {
      text-align: center; }
    .about_flex div p {
      padding: 10px; }
    .about_flex div button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit; }
      .about_flex div button.learn-more {
        width: 12rem;
        height: auto;
        margin-left: 50px;
        margin-bottom: 10px; }
        .about_flex div button.learn-more .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: #282936;
          border-radius: 1.625rem; }
          .about_flex div button.learn-more .circle .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: #fff; }
            .about_flex div button.learn-more .circle .icon.arrow {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none; }
              .about_flex div button.learn-more .circle .icon.arrow::before {
                position: absolute;
                content: '';
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg); }
        .about_flex div button.learn-more .button-text {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.75rem 0;
          margin: 0 0 0 1.85rem;
          color: #282936;
          font-weight: 700;
          line-height: 1.6;
          text-align: center;
          text-transform: uppercase; }
      .about_flex div button:hover .circle {
        width: 100%; }
        .about_flex div button:hover .circle .icon.arrow {
          background: #fff;
          transform: translate(1rem, 0); }
      .about_flex div button:hover .button-text {
        color: #fff; }
  .about_flex div:hover {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }

.typeWork {
  margin-top: 150px; }
  .typeWork h2 {
    text-align: center;
    font-size: 45px; }
  .typeWork_flex {
    display: flex;
    flex-direction: row; }
    .typeWork_flex div {
      width: 400px;
      margin: 30px;
      position: relative;
      text-align: center; }
      .typeWork_flex div img {
        width: 200px;
        margin-left: 50%;
        transform: translate(-50%, 0); }
      .typeWork_flex div h3 {
        font-size: 26px;
        font-weight: 900; }

.ac-container {
  width: 1000px;
  margin: 200px auto 0 auto; }
  .ac-container h2 {
    text-align: center;
    font-size: 45px; }
  .ac-container label {
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 19px;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1); }
  .ac-container label:hover {
    background: #fff; }
  .ac-container input:checked + label,
  .ac-container input:checked + label:hover {
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1); }
  .ac-container label:hover:after,
  .ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center; }
  .ac-container input:checked + label:hover:after {
    background-image: url(http://netcribe.com/example/arrow_up.png); }
  .ac-container input {
    display: none; }
  .ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear; }
  .ac-container input:checked ~ article {
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
    height: 100px; }
  .ac-container article p {
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }

.contact {
  text-align: center;
  margin-top: 150px; }
  .contact_flex {
    display: flex;
    flex-direction: row; }
    .contact_flex__rightSide__form {
      width: 400px;
      height: 500px;
      margin-left: 100px;
      display: flex;
      color: white;
      flex-direction: column; }
      .contact_flex__rightSide__form input:nth-child(1) {
        margin-top: 30px; }
      .contact_flex__rightSide__form input {
        width: 90%;
        margin: 10px auto;
        height: 20px;
        border: none;
        border-bottom: 2px solid #7c7c7c;
        background-color: transparent;
        outline: none;
        font-size: 1.1em; }
      .contact_flex__rightSide__form textarea {
        width: 90.5%;
        height: 250px;
        margin: 10px auto;
        resize: vertical;
        font-size: 1.2em; }
      .contact_flex__rightSide__form button {
        width: 92%;
        margin: 10px auto;
        height: 40px;
        font-size: 1.2em; }
  .contact H2 {
    font-size: 45px; }

.footer {
  height: 300px;
  margin-top: 50px;
  background-color: #282936;
  text-align: center; }
  .footer_info {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #dadada;
    font-size: 30px; }
    .footer_info img {
      width: 30px; }
  .footer_copywrite {
    color: #dadada;
    text-align: center; }
    .footer_copywrite p {
      line-height: .5; }
